#compressor        zstd
#threads           4
#fthreads          4
#variables         d,m,u,v,w
#bucket            23
#pos_pref          3
#start
#problem           2 |7|nbox2w.start
#masters           |6-97|pr-nbox2w.m
#lbases            nbox2w.lbases
#preferred         nbox2w.pref
#rules             nbox2w.rules
#integrals         nbox2w.m
#output            nbox2w.tables

