#threads           4
#fthreads          4
#variables         d,s,t
#database          tests/db
#storage           tests/storage/
#bucket            15
#start
#folder            tests/doublebox/
#problem           1 doublebox.start
#preferred         doublebox.preferred
#hint              tests/hints/
#integrals         doublebox.m
#rules             doublebox.rules
#output            ../outputs/mix.tables
