#threads           4
#fthreads          4
#variables         d,s,t
#database          tests/db
#start
#folder            tests/doublebox/
#problem           1 doublebox.start
#preferred         doublebox.preferred
#integrals         doublebox.m
#rules             doublebox.rules
#output            ../outputs/preferred_rules.tables
